
{{!-- about section starts --}}
    <div class="container-fluid mt-5 about-style " id="aboutid">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">
           <h1 class="text-center main-heading">About Us</h1>
            <h1 class="text-center sub-heading">Grow Your Business with Us</h1>
           <div class="row">
            {{!-- left side --}}
            <div class="col-md-6 col-12 hero-text  mb-5">
              <figure>
                <img src="images/business.svg">
              </figure>
             </div>
            {{!-- right side --}}
             <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
              <h1>WE WILL HELP YOU TOO !</h1>
              <p>Welcome to <span>Coding school</span> community , Here is the details about our community . we are helping the peoples who are suffered from the coding. we have tips and tricks to motivate them in simplest and easiest way.</p>
              <p><span>Follow us for more detailed information.</span></p>
               <button class="btn btn-primary btn-style">Read More</button>
             </div>
           </div>
         </div>
      </div>
    </div>
{{!-- about section ends --}}