<section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d434651.49904427514!2d83.30001969368489!3d27.8106874562027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995b45e6c8ee833%3A0x50e475e67273142e!2sPalpa%2C%20Nepal!5e1!3m2!1sen!2sin!4v1695660064715!5m2!1sen!2sin"
 width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>